* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

h1, h2 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    margin: 30px 0px 20px;
}

h2 {
    font-family: "Martian Mono", monospace;
    font-size: 1.7rem;
    color: #0a262c;
}

h3 {
    font-family: "Martian Mono", monospace;
    font-size: 1.2rem;
    color: #0a262c;
}


h1 {
    background: linear-gradient(to bottom right, #b88465, #0a262c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero-para, p {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #4c4c5e;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

button {
    font-family: "Martian Mono", monospace;
    font-size: .9rem;
    font-weight: 600;
    width: 100%;
    border-radius: 6px;
    background-color: #fef4ef;
    color: #0a262c;
    border: 2px solid #0a262c;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

span {
    font-weight: bold;
}

.logo {
    width: 150px;
}

.users-joined {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 50px;
}

.users-joined-avatar {
    width: 130px;
    height: 50px;
    padding: 0px;
}

.users-joined-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-joined-text {
    font-size: .9rem;
    margin: 0px;
}

.img {
    width: 100%;
    border-radius: 6px;
}

.top-container {
    background-color: #faf5f2;
    background-image: url('./images/pattern-light-bg.svg');
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
}

.top-section, 
.feature-section, 
.average-book, 
.tech-reading, 
.membership-options,
.review-quote,
.footer {
    margin: 20px 20px;
}

.feature-section {
    margin: 50px 20px 30px;
}

.logos-tech {
    display: none;
}

.read-together-perks-container {
    margin: 50px 0px;
}

.read-together-perks, .price-perks {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0px;
}

.read-together-perks p {
    margin: 0px;
    font-size: 1rem;
}

.club {
    position: relative;
}

.scribble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130%;
}

.tech-reading {
    background-image: url(./images/pattern-light-bg.svg);
    background-color: #faf5f2;
    padding: 20px 10px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.tech-reading p {
    font-family: "Martian Mono", monospace;
    color: #0a262c;
    font-size: .8rem;
    font-weight: bold;
}

.span-para {
    border: 2px solid #0a262c;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}

.glow-img {
    width: 600px;
    position: absolute;
    top: 170px;
    left: 0px;
}

.price-perks p {
    margin: 0px;
}

.pricing-card h3 {
    margin-bottom: 15px;
}

.span-price {
    font-size: 1.8rem;
    font-family: "Martian Mono", monospace;
    color: #0a262c;
}

.pricing-card {
    border: 1px solid #0a262c;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.price-btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.1rem;
    z-index: 2;
}

.pro {
    background-color: #faf5f2;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.pro .glow-pro {
    top: 0px;
    left: 0px;
    z-index: -1;
}

.quote-para {
    font-size: 1.5rem;
    font-family: "Martian Mono", monospace;
    color: #0a262c;
    font-weight: bold;
    margin-top: 15px;
}

.title-para {
    margin-bottom: 50px;
}

.footer-container {
    text-align: center;
    background-color: #0a262c;
    background-image: url(./images/pattern-dark-bg.svg);
    padding: 10px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.footer h2 {
    color: #fff;
}

.footer button {
    font-size: 1.1rem;
    background-color: #0a262c;
    color: #fff;
    border: 2px solid #fff;
}

.users-joined-avatar-footer {
    width: 100px;
}

.users-joined-text-footer {
    color: #fff;
    font-family: "Martian Mono", monospace;
    font-size: 1rem;
    margin-bottom: 0;
}

.copyright-footer {
    border-top: .8px solid #fff;
}

.copyright-para {
    font-size: 1.1rem;
    font-family: "Martian Mono", monospace;
    color: #fff;
    margin-top: 20px;
}

.brands-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* TABLET SCREEN SIZE */

@media screen and (min-width: 768px) {
    .logo {
        width: 200px;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 3rem;
    }

    .hero-para {
        font-size: 1.4rem;
    }

    .hero-btn {
        width: 60%;
        font-size: 1rem;
    }

    .users-joined {
        justify-content: start;
    }

    .feature-section {
        display: flex;
        flex-direction: column;
    }

    .feature-section p {
        font-size: 1.4rem;
    }

    .box-one {
        order: 2;
    }

    .box-two {
        order: 1;
    }

    .average-book-section p {
        font-size: 1.4rem;
    }

    .tech-reading h2, .membership-options h2 {
        margin-bottom: 50px;
    }

    .tech-reading p {
        font-size: 1.3rem;
    }

    .price-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        row-gap: 0;
    }

    .pricing-card {
        width: 45%;
    }

    .glow-img {
        top: 300px;
        left: 300px;
    }

    .quote-para {
        font-size: 1.8rem;
    }

    .footer h2 {
        font-size: 2.5rem;
    }

    .footer button {
        width: 60%;
        margin-top: 60px;
        margin: 50px auto 0px;
        font-size: 1rem;
    }

    .users-joined {
        width: 50%;
        margin: 30px auto;
        column-gap: 20px;
    }

    .users-joined-details {
        width: 80%;
        align-items: flex-start;
    }

    .users-joined-text-footer {
        text-align: left;
    }

    .copyright-footer {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        width: 150px;
        margin-left: 130px;
    }

    .hero, .feature-section, .average-book {
        width: 80%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 50px;
    }

    h1 {
        font-size: 4rem;
    }

    .hero-para {
        font-size: 1.2rem;
    }

    .hero-btn {
        width: 80%;
        font-size: 1.1rem;
    }

    .hero .img {
        width: 80%;
    }

    .users-joined.hero {
        width: 100%;
        display: flex;
        margin: 30px 0px;
        gap: 10px;
    }

    .users-joined.hero p {
        font-size: .9rem;
    }

    .feature-section, .average-book {
        width: 65%;
        gap: 70px;
        margin: 0px auto;
        margin-top: 4em;
    }

    .box-one {
        width: 90%;
        order: 1;
    }

    .box-two {
        order: 2;
        width: 100%;
        padding-right: 7em;        
    }

    .box-two h2 {
        font-size: 1.8rem;
        margin: 0px;
    }

    .read-together-perks-container {
        margin: 20px 0px;
    }

    .read-together-perks p {
        font-size: 1rem;
    }

    .average-book {
        gap: 50px;
    }

    .avr-img {
        width: 80%;
        margin-right: auto;
    }

    .avr-book-text {
        width: 90%;
        margin-left: left;
    }

    .avr-book-text h2 {
        font-size: 1.8rem;
    }

    .tech-reading {
        width: 75%;
        margin: 6em  auto 4em;
        border-radius: 8px;
    }

    .tech-reading-features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 40px;
        margin: 0px auto;
        padding: 0px 30px;
    }

    .tech-reading h2, .footer h2 {
        font-size: 2rem;
        width: 50%;
        text-align: center;
        margin: 50px auto;
    }

    .tech-reading p {
        font-size: .9rem;
    }

    .membership-options, .review-quote, .quote-para, .footer {
        width: 80%;
        margin: 0px auto;
    }

    .membership-options h2 {
        font-size: 2rem;
        text-align: center;
    }

    .price-card-container {
        display: flex;
    }

    .pricing-card {
        width: 30%;
    }

    .pricing-card.small {
        width: 25%;
    }

    .review-quote {
        text-align: center;
        margin-top: 40px;
    }

    .quote-para {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer button {
        width: 30%;
        font-size: .8rem;
    }

    .users-joined {
        width: 30%;
    }

    .users-joined p {
        font-size: .7rem;
    }
}