/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-section {
    background-color: #faf5f2;
    background-image: url('./images/pattern-light-bg.svg');
    background-size: cover;
    background-position: center;
} */